body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #0b1220;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.container {
  background: #101a33;
  padding: 30px;
  width: 400px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0px 0px 20px rgba(0, 153, 255, 0.3);
}

h2 {
  color: #1da1ff;
  margin-bottom: 20px;
}

input {
  width: 90%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #1da1ff;
  outline: none;
  background: #0b1220;
  color: white;
  font-size: 14px;
}

input::placeholder {
  color: #cbd5e1;
}

button {
  margin-top: 15px;
  width: 95%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #1da1ff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #0077cc;
}

#qrcode {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
